- Q1.Declare a float value and store it in a variable.Check the type and print the id of the same.

In [2]:
x=2.5
print(x,type(x))
print(id(x))

2.5 <class 'float'>
1509211969104

# Arithmetic operations in Float

- Q2.Take two different float values.Store them in two different variables.Do below operations on them:-
    - Find sum of both numbers
    - Find difference between them
    - Find the product of both numbers.
    - Find value after dividing first num with second number
    - Find the remainder after dividing first number with second number
    - Find the quotient after dividing first number with second number
    - Find the result of the first num to the power of the second number.

In [4]:
a=10.5
b=5.2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

15.7
5.3
54.6
2.019230769230769
0.09999999999999964
2.0
204260.48330383332

# Comparison Operators on float

- Q3.Take two different float values.Store them in two different variables.Do below operations on them:-
    - Compare these two numbers with below operator:-
    - Greater than, '>'
    - Smaller than, '<'
    - Greater than or equal to, '>='
    - Less than or equal to, '<='
- Observe their output(return type should be boolean)

In [6]:
c=2.5
d=5.6
print(c>d)
print(c<d)
print(c>=d)
print(c<=d)

False
True
False
True

# Equality Operator

- Q4.Take two different float values.Store them in two different variables.
   - Equate them using equality operators (==, !=)
    - Observe the output(return type should be boolean)

In [7]:
x=3.9
y=1.2
print(x==y)
print(x!=y)

False
True

# Logical operators

In [8]:
print(10.20 and 20.30) # As both are true and second value taken
print(0.0 and 20.30) #First is false so first value taken
print(20.30 and 0.0) # Goes to till second and second value is false so second is taken
print(0.0 and 0.0)  #First is false so first value is taken

20.3
0.0
0.0
0.0

In [9]:
print(10.20 or 20.30) #First is True so first value is taken
print(0.0 or 20.30) #Goes to till second and second is true second value is taken
print(20.30 or 0.0) #First is True so first value is taken
print(0.0 or 0.0) #Goes to till second and second is also false and second value is taken

10.2
20.3
20.3
0.0

In [10]:
print(not 10.20) #-Not of true is false->Output is False
print(not 0.0) #Not of false is True>Output is True

False
True

- Q5. What is the output of expression inside print statement. Cross check before running the program.
   - a=10.20
   - b=10.20
   - print(a is b)
   - print(a is not b)

In [11]:
a=10.20
b=10.20
print(id(a))
print(id(b))
print(a is b)
print(a is not b)

1509212528464
1509212526192
False
True

In [16]:
f=10.0
g=10.0
print(id(f))
print(id(g)) # Object re usability concept not applicable for float, thats why id is different for same value of float

1509212527152
1509211969104

# Membership operation
- in, not in are two membership operators and it returns boolean value

In [1]:
print('2.7' in 'Python2.7.8') 
print(10.20 in [10,10.20,10+20j,'Python']) 
print(10.20 in (10,10.20,10+20j,'Python')) 
print(20.30 in {1,20.30,30+40j}) 
print(2.3 in {1:100, 2.3:200, 30+40j:300}) 
print(10 in range(20))

True
True
True
True
True
True

In [2]:
print('3' not in 'Python2.7.8') 
print(10.20 not in [10,10.20,10+20j,'Python']) 
print(1 not in (10,10.20,10+20j,'Python')) 
print(20.40j not in {1,20.30,30+40j}) 
print(2.3 not in {1:100, 2.3:200, 30+40j:300}) 
print(24 not in range(20))

True
False
True
True
False
True